<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pacientes</h1>
  </div>
</div> 

{{#if multiple}}
<div class="container">
  <div class="col-12">
    <table class="table table-hover">
      <thead>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Mail</th>
          <th>Telefono</th>
          <th></th>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{id}}</td>
          <td>{{nombre}}</td>
          <td>{{apellido}}</td>
          <td>{{mail}}</td>
          <td>{{tel}}</td>
          <td>
            <a href="/users/single/{{id}}" class="btn btn-link">Ver más</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{else}}

<div class="container">
  <div class="card mb-3">
    <img src="/images/01-amec-gde.jpg" class="card-img-top" alt="{{paciente.nombre}} {{paciente.apellido}}">
    <div class="card-body">
      <h5 class="card-title">Paciente:</h5>
      <p class="card-text">Nombre completo: {{paciente.nombre}} {{paciente.apellido}}</p>
      <p class="card-text">Mail: {{paciente.mail}}</p>
      <p class="card-text">Teléfono: {{paciente.tel}}</p>
      <p class="card-text">nacionalidad: {{paciente.nacionalidad}}</p>
      <p class="card-text"><small class="text-muted">ID: {{paciente.id}}</small></p>
    </div>
  </div>
</div>

{{/if}}